@tailwind base;
@tailwind components;
@tailwind utilities;

.suggestion-content {
  /* height: ; Set the desired height for the scrollable area */
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer/Edge */
}

.suggestion-content::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit-based browsers */
}

.ql-toolbar {
  border: none !important; /* Remove all borders */
  border-bottom: 1px solid #ccc !important; /* Add only the bottom border */
  box-shadow: none !important; /* Remove shadow if any */
}

.ql-container {
  /* border: none !important; */
  box-shadow: none !important;
  outline: none !important;
}

.ql-editor {
  border: none !important;
  outline: none !important;
  min-height: 5vh !important;
}

.ql-editor::before {
  font-style: normal !important;
  color: #aaa;
  left: 0;
}
